<tr>
    <td data-th="Product">
      <div class="row">
        <div class="col-sm-2 hidden-xs"><img src="http://placehold.it/100x100" alt="..." class="img-responsive"/></div>
        <div class="col-sm-10">
          <h4 class="nomargin"><%= cart_item.product.name %></h4>
          <p>Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet.</p>
        </div>
      </div>
    </td>
    <td data-th="Price"><%= number_to_currency(cart_item.product.price) %></td>
    <td data-th="Quantity">
    <%= form_for :cart_item do |f| %>
      <%= f.number_field :cart_item, class: "form-control text-center", value: cart_item.quantity %>
    <% end %>
    </td>
    <td data-th="Subtotal" class="text-center"><%= number_to_currency(cart_item.total_price) %></td>
    <td class="actions" data-th="">
      <button class="btn btn-danger btn-sm"><i class="btn btn-info btn-sm"></i></button>
      <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
    </td>
  </tr>
  
