<div id="layoutSidenav_content">
      <main>
        <div class="container-fluid">
          <h1 class="mt-4">USERS</h1>
          <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">All Users</li>
          </ol>
            <div class="card mb-4">
              <div class="card-header"><i class="fas fa-table mr-1"></i>DataTable Example</div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Email</th>
                        <th>Password</th>
                        <th>Created_at</th>
                        <th>Updated_at</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @users.each do |user| %>
                        <tr>
                          <td><%= user.id %></td>
                          <td><%= user.email %></td>
                          <td><%= user.password_digest %></td>
                          <td><%= user.created_at %></td>
                          <td><%= user.updated_at %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
        </div>
      </main>