<div class="container">
  <h3 class="h3">PRODUCTS </h3>
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-md-3 col-sm-6">
        <div class="product-grid2">
          <div class="product-image2">
            <%= link_to image_tag("sunflower-selective-focus-photography-1366630", class: "card-img-top", alt: ""), product_path(id: product.id) %>
            <%= button_to "Add to cart", cart_items_path(product_id: product.id), class: "add-to-cart" %>
          </div>
          <div class="product-content">
            <h3 class="title">
              <%= link_to product.name, product_path(product) %>
            </h3>
            <span class="price"><%= product.price %></span>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @products, theme: 'twitter-bootstrap-4' %>
</div>
<hr>
